* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {  
   height:100%;  
 } 

body {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  background-color: hsl(62, 42%, 86%);
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 3em 1.5em;

}

.bi{
    font-size: .9em;
}

.table {
  font-size: 14px;
}

.btn-editar,
.btn-eliminar {
  padding: 5px 10px;
  font-size: 12px;
}

.btn-editar {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-eliminar {
  background-color: #dc3545;
  border-color: #dc3545;
}

.footer-container { 
  background-color: #f39ca3;
}

.footer-row {
  height: 50px;
}
footer h6 {
  color: black; 
  margin-left: 15px
}